{% extends "base.html" %} 

{% load static %}

{% block header %}
<header>
        <nav class="navbar navbar-expand-lg navbar-dark lime lighten-1 fixed-top scrolling-navbar" id="main-nav">
{% endblock %}

{% block body %}
<section class="main-section mt-5">
        <h4>Reserve camping spot!</h4>
        <div class="row">
            <div class="col-sm-6">
                <form class="" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ form.beds_taken }}
                    </div>

                    <div class="input-field">
                        {{ form.camp_no }}
                    </div>
                    
                    <div class="input-field">
                        {{ form.tent_size }}
                        {{ form.tent_size.label_tag }}
                    </div>

                    <div class="input-field">
                        {{ form.visitor_email }}
                        {{ form.visitor_email.label_tag }}
                    </div>
                        {% if form.errors %} 
                            {% for field in form %} 
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %} 
                            {% endfor %} 
    
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %} 
                        {% endif %}
                        
                    <div class="center-align">
                        <button class="btn" type="submit">Purchase</button>
                    </div>
                </form>
            </div>
            
        </div>
    
</section>

<script src="{% static 'js/campFormController.js' %}"></script>
{% endblock body %}