{% extends "base.html" %} 



{% block body %}
<div class="center-align">
    <h4>Reserve camping spot!</h4>

    <table>
        <tr>
            <td class="center-align">Camping Number</td>
            <td class="center-align">Free beds</td>
        </tr>
        {% for camp in campings %}
        <tr>
            <td class="center-align">{{camp.camping_number}}</td>
            <td class="center-align">{{camp.free_beds}}</td>
        </tr>
        {% endfor %}
    </table>


    <form class="flex flex-row" method="post">
        {% csrf_token %} {{ form.as_p }} {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endif %}

        <div class="center-align">
            <button class="btn" type="submit">Purchase</button>
        </div>
    </form>

</div>
{% endblock body %}