{% extends 'base.html' %}

{% load static %}

{% block header %}
            <header class="home-header z-depth-3">
                    <div class="logo-container">
                        <img class="logo" src="{% static 'img/logo-white.svg' %}" alt="">
                        <h1>MASCARADA</h1>
                    </div>
            
                    <nav class="home-nav" id="home-nav">
                        <ul class="flex-container p-0 m-0 justify-content-center">
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="{% url 'lineup' %}">LineUp</a>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="{% url 'tickets' %}">Tickets</a>
                            </li>
                            <li class="nav-item mr-5">
                                <a class="nav-link" href="{% url 'camping' %}">Camping</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        </ul>
            
                    </nav>

                    <nav class="navbar navbar-expand-lg navbar-dark red lighten-3 p-0 no-display fixed-top scrolling-navbar" id="main-nav">
{% endblock %}

{% block body %}

<div class="pattern-dot"  id="stickypoint"></div>

    <section class="lineup-section flex-container z-depth-3">
        <div class="poster z-depth-1-half">
            <img src="{% static 'img/lineup-poster.png' %}" alt="Mascarada line up poster">
        </div>
    </section>

    <div class="pattern-dot"></div>

    
{% endblock %}
    