{% extends 'base.html' %}

{% load static %}

{% block header %}
            <header class="home-header z-depth-3">
                    <div class="logo-container">
                        <img class="logo" src="{% static 'img/logo-white.svg' %}" alt="">
                        <h1>MASCARADA</h1>
                    </div>
            
                    <nav class="home-nav" id="home-nav">
                        <ul class="flex-container p-0 m-0 justify-content-center">
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="{% url 'lineup' %}">LineUp</a>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="{% url 'tickets' %}">Tickets</a>
                            </li>
                            <li class="nav-item mr-5">
                                <a class="nav-link" href="{% url 'camping' %}">Camping</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        </ul>
            
                    </nav>

                    <nav class="navbar navbar-expand-lg navbar-dark red lighten-3 p-0 no-display fixed-top scrolling-navbar" id="main-nav">
{% endblock %}

{% block body %}

<div class="pattern-dot"  id="stickypoint"></div>

    <section class="lineup-section flex-container z-depth-3">
        <div class="poster z-depth-1-half">
            <img src="{% static 'img/lineup-poster.png' %}" alt="Mascarada line up poster">
        </div>
    </section>

    <div class="pattern-dot"></div>

    <section class="reviews-section z-depth-1">
        <div class="row reviews-container">
            <div class="card-columns">
                <div class="card">
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">
                            <i class="fas fa-quote-left"></i>
                        </h4>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</p>
                    </div>

                </div>



                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="res/img/girl-with-lighter.jpg" class="img-fluid" alt="">

                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">
                            <i class="fas fa-quote-left"></i>
                        </h4>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>

                    </div>

                </div>

                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="res/img/girl-with-lighter.jpg" class="img-fluid" alt="">

                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">
                            <i class="fas fa-quote-left"></i>
                        </h4>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    </div>

                </div>

                <div class="card">

                    <!--Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">
                            <i class="fas fa-quote-left"></i>
                        </h4>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                </div>

                <div class="card">

                    <!--Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">
                            <i class="fas fa-quote-left"></i>
                        </h4>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>

                    </div>

                </div>
            </div>

        </div>

    </section>
{% endblock %}
    