{% extends 'base.html' %}
{% load static %}

{% block header %}
<header>
                    
        <nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 p-0 fixed-top scrolling-navbar" id="main-nav">
{% endblock %}

{% block body %}

<section class="main-section mt-5">
    <div class="image-grid  grid-container">
        <div class="image-container">
            <a href="#">
                <div class="align-items-end justify-content-center overlay ">
                    <div class="z-depth-1">Carl Cox</div>
                </div>
                <img src="{% static 'img/carl-cox.png' %}" alt="carl cox">
            </a>

        </div>
        <div class="image-container">
            <a href="#">
                <div class="align-items-end justify-content-center overlay">
                    <div class="z-depth-1">Hardwell</div>
                </div>
                <img src="{% static 'img/hardwell.jpg' %}" alt="hardwell">
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <div class="align-items-end justify-content-center overlay">
                    <div class="z-depth-1">Armin Van Buuren</div>
                </div>
                <img src="{% static 'img/Armin-van-Buuren.jpg' %}" alt="armin van buuren">
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <div class="align-items-end justify-content-center overlay">
                    <div class="z-depth-1">Calvin Harris</div>
                </div>
                <img src="{% static 'img/calvin-harris.jpg' %}" alt="calvin harris">
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <div class="align-items-end justify-content-center overlay">
                    <div class="z-depth-1">Ummet Ozcan</div>
                </div>
                <img src="{% static 'img/ummet_ozcan.jpg' %}" alt="ummet ozcan">
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <div class="align-items-end justify-content-center overlay">
                    <div class="z-depth-1">Marshmello</div>
                </div>
                <img src="{% static 'img/Marshmello.png' %}" alt="marshmello">
            </a>
        </div>
    </div>

</section>
<script src="{% static 'js/lineupController.js' %}"></script>
{% endblock %}